{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.{glsl,vert,frag}",
      "options": {
        "parser": "glsl-parser"
      }
    },
    {
      "files": "*.{json,yml,yaml}",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
